RewriteEngine On
RewriteBase /
DirectoryIndex auth.php 

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^question.php$ /questions.php?qtype=1 [L,QSA]
RewriteRule ^check_comp.html$ /questions.php?qtype=2 [L,QSA]

RewriteRule ^lobby$ /index.php?type_doc=2 [L,QSA]

RewriteRule ^proposals$ /proposals.php?type_prop=0 [L,QSA]
RewriteRule ^addproposals$ /proposals.php?type_prop=1 [L,QSA]

RewriteRule ^regulations$ /documents.php?type_doc=1 [L,QSA]
RewriteRule ^show_regulations_([0-9]+)$ /documents.php?type_doc=1&norm_doc_id=$1 [L,QSA]

RewriteRule ^video_instructing$ /documents.php?type_doc=2 [L,QSA]
RewriteRule ^show_video_([0-9]+)$ /documents.php?type_doc=2&video_id=$1 [L,QSA]

RewriteRule ^comp_model$ /documents.php?type_doc=3 [L,QSA]
RewriteRule ^show_compmodel_([0-9]+)$ /documents.php?type_doc=3&comp_model_id=$1 [L,QSA]

RewriteRule ^trial_testing.html$ /questions.php?qtype=3 [L,QSA]
RewriteRule ^testing.html$ /questions.php?qtype=4 [L,QSA]

RewriteRule ^lamp$ /lamp.php [L,QSA]
RewriteRule ^list_posts$ /list_posts.php [L,QSA]
RewriteRule ^new_post$ /edit_post.php?posttype=0 [L,QSA]
RewriteRule ^edit_post$ /edit_post.php?posttype=1 [L,QSA]

RewriteRule ^list_employees$ /list_employees.php [L,QSA]
RewriteRule ^new_employees$ /edit_employees.php?posttype=0 [L,QSA]
RewriteRule ^edit_employees$ /edit_employees.php?posttype=1 [L,QSA]

RewriteRule ^list_tests$ /list_tests.php [L,QSA]
RewriteRule ^new_test$ /edit_test.php?testtype=0 [L,QSA]
RewriteRule ^edit_test$ /edit_test.php?testtype=1 [L,QSA]

RewriteRule ^search_employee$ /search_employee.php [L,QSA]

RewriteRule ^register$ /register.php [L,QSA]
RewriteRule ^login$ /login.php [L,QSA]
RewriteRule ^check$ /check.php [L,QSA]
RewriteRule ^admin_settings$ /admin_settings.php [L,QSA]

ErrorDocument 404 /404.php
