p{
font: 20px tahoma;
}

mainDiv{
background: skyblue;
width:350px;
margin:20px auto;
box-shadow:10px 10px 150px grey;
padding-top: 5px;
padding-bottom: 20px;
}

input[type="submit"]{
width:50px;
height:30px;
opacity:0.8;
border:0px;
}

input[type="num_button"], input[type="reset"]{
background: url('/files/img/num_button.png') no-repeat 0 0;
width:81px;
height:81px;
opacity:0.8;
border:0px;
text-align: center;
text-decoration:none !important;
font-size: 48px;
color:#fff;
text-shadow: 
	black 2px 2px 0, 
	black -2px -2px 0, 
	black -2px 2px 0, 
	black 2px -2px 0;
}

input[type="button"]{
width:180px;
height:80px;
opacity:0.8;
border:0px;
}

input[type="text"]{
font-size: 54px;
height:64px;
width:250px;
}
textarea[type="field_proposol"]{
outline: none;
resize: none;
font-size: 36px;
height:140px;
width:1260px;
}

input:hover{
opacity:1;
}

