{extends file="list.tpl.html"}
{block name="article"}

<form id="register" name="register" method="post">

	<span class="title_menu_edit">Настройки</span>

	<p style="margin-left: 2px;"><span>Изменение параметров авторизации</span></p>
	<table style="margin-left: 2px;">
		<tr>
			<td>Логин:</td>
			<td><input name="login"></td>
		</tr>
		<tr>
			<td>Новый логин:</td>
			<td><input name="new_login"></td>
		</tr>
		<tr>
			<td>Текущий пароль:</td>
			<td><input type="password" name="old_password"></td>
		</tr>
		<tr>
			<td>Новый пароль:</td>
			<td><input type="password" name="password"></td>
		</tr>
		<tr>
			<td>Подтверждение:</td>
			<td><input type="password" name="conf_password"></td>
		</tr>
	</table>

	<div align="left" style="margin-left: 2px;">
		<input class="button_admin_edit" name="submit" type="submit" value="Изменить">
	</div>	
</form>
{/block}
{/extends}
