<!DOCTYPE HTML>
<html lang="ru">
<head>
<title>{$title}</title>
<meta charset="utf-8">
<link rel="stylesheet" href="{$tpl}css/main.css">

<div id="error_mess"> {$error_} </div>

<script type="text/javascript" src="{$js}jquery-2.1.1.js"></script>	
<script type="text/javascript" src="{$js}migrate.js"></script>
<script type="text/javascript" src="{$js}noselect.js"></script>
</head>
<body>
<!--<form id="list_posts" name="list_posts" method="post">
</form>-->

<div id="menu-holder"></div>

<main>

<aside>

	<menu>
		<li style="list-style-type: none;"><div class="authlogo_admin"></div></li>
		<li style="list-style-type: none;"><a href="/list_posts"><input class="button_menu" type="button" value="Должности" onclick=""/></a></li>
		<li style="list-style-type: none;"><a href="/list_employees"><input class="button_menu" type="button" value="Сотрудники" onclick=""/></a></li>
		<!--<li style="list-style-type: none;"><a href="/list_tests"><input class="button_menu" type="button" value="Тесты" onclick=""/></a></li>-->
		<li style="list-style-type: none;"><a href="/admin_settings"><input class="button_menu set_cur" type="button" value="Настройки" onclick=""/></a></li>
	</menu>

</aside>

<article>

<form id="register" name="register" method="post">

	<span class="title_menu_edit">Настройки</span>

	<p style="margin-left: 2px;"><span>Изменение параметров авторизации</span></p>
	<table style="margin-left: 2px;">
		<tr>
			<td>Логин:</td>
			<td><input name="login"></td>
		</tr>
		<tr>
			<td>Новый пароль:</td>
			<td><input type="password" name="password"></td>
		</tr>
		<tr>
			<td>Подтверждение:</td>
			<td><input type="password" name="conf_password"></td>
		</tr>
	</table>

	<div align="left" style="margin-left: 2px;">
		<input class="button_admin_edit" name="submit" type="submit" value="Изменить">
	</div>	
</form>
</article>

</main>

<footer id="bottom">
	<!--<p>
		<small>
			<time>2004-05-24</time> © <a href="http://www.pixelcom.crimea.ua">Pixel.com</a>
		</small>

		<address>
			<a href="mailto:js@example.com">Написать письмо</a>
		</address>
	</p>-->
</footer>


<script src="{$tpl}js/script.js"></script>
</body>
</html>
