{extends file='index.tpl.html'}
{block name=content}  

<meta charset="utf-8">
<link rel="stylesheet" href="{$tpl}css/main.css">

<div id="error_mess"> {$error_} </div>
<div id="commentAnswerDiv" align="center" >

<form id="commentAnswer" name="commentAnswer" method="post">

<!--смотрим какой экзаменатор-->
{if $type_examiner eq "PE"}

	<!--Если ответ неправильный, выводим правильный ответ и сопутствующую информацию-->
	{if $transitionOption neq '1'}
        <div>
            <div class="text_status_ansF">Вы ответили неправильно!</div>
            <div class="risk_level">
            <p>
                    <br>Уровень компетентности:
                </p>
                <p class="title">
                    <img class="competence_img" src="/files/img/risk/{$competencelevel_id}.png"/>
                    {$competencelevel_title}
                </p>
            </div>
            <div class="risk_level">
            
                <p>
                    Уровень риска травматизма:
                </p>
                <p class="title">
                    {$risklevel_title}
                </p>
            </div>
        <!--<div class="competence_ t{$competencelevel_id}">
            
            <div>{$competencelevel_title}</div>
        </div>-->
            </div>
        <div class="clear"></div>
        <!--<span class="competence{$competencelevel_id}"><img class="competence_img" src="/files/img/risk/{$competencelevel_id}.png"/>{$competencelevel_title}</span>
		<span>{$risklevel_title}</span>
		<span>{$factor_com}</span>
		<span>{$competencelevel_id}</span>-->
	
		<div style="margin-top: 8%;">
		
                <!--<div class="text_status_ansF">Последствия от некомпетентных действий:</div>-->
                <div class="text_question_comment" style="background: #ffff99;">
                <!--    <div>
                        <div class="q_head">Последствия от некомпетентных действий</div>
                        <div class="q_text">{$question_com}</div>
                    </div>
                    <div class="clear"></div>
                    <div>
                        <div class="q_head">Поражающий фактор</div>
                        <div class="q_text">{$factor_com}</div>
                    </div>
                    <div class="clear"></div>-->
                <table class="q_text">
                    <tr><td>Последствия от некомпетентных действий</td>
                        <td>{$question_com}</td>
                    </tr>
                    <tr>
                        <td>Поражающий фактор</td>
                        <td>{$factor_com}</td>
                    </tr>
                </table>
                </div>

              
		<div class="text_status_ansT"><span>Правильный ответ:<span></div>
		<div class="text_question_comment" style="background: #BCF5A9;"><div style="max-width: 90%; font-size:50px; font-weight: 600">{$question_ans}</div></div>
		</div>
		
	{else}
		
		<div style="margin-top: 14%;">
		<div class="text_status_ansT" style="font-size:50px;"><span>Правильно!<span></div>
                            <div>
                                <img style="border-radius: 20px; width:300px;" src="/files/img/risk/21.png"/>
                            </div>
                            <div><div class=risk_level style="padding:0;"><div>Уровень компетентности:</div><div class="title">Компетентен</div></div></div>
		</div>
		<!-- Выхом по таймеру -->
		{literal}
		<script>
			setTimeout(function() { window.location="./auth.php" }, 5000);
		</script>
		{/literal}
	{/if}

{else} <!--контроль компетентности CC-->

<table class="simple-little-table" cellspacing='0'>

<tr>
	<th>Вопрос</th>
	<th>Ответ</th>
	<th>Комментарий</th>
</tr><!-- Table Header -->

{$count = 0}
{$type_ans = ''}
{$type_color = "color:#FE2E2E"}
{section name=gh loop=$array_final_qu}
	<!--<option value="{$sotruds_vyd[gh]['SOTRUD_K']}" {if $signers['VYD_SOTR_K'] eq $sotruds_vyd[gh]['SOTRUD_K']}selected{/if}>{$sotruds_vyd[gh]['SOTRUD_FIO']}</option>-->

	{$type_ans = $array_final_an[{$count}]}
	{capture}{$count++}{/capture}
{if $type_ans eq 'T'}

	{$type_color = "color:#04B404"}
{else}

	{$type_color = "color:#B40404"}
{/if}
	<tr style={$type_color}>
		<td>
		{$array_final_qu[gh]} <!--это final_array_questions-->
		</td>
		<td>
		{$array_final_an[{$count}]} <!--это final_array_answers-->
		{capture}{$count++}{/capture}
		</td>
		<td>
		{$array_final_an[{$count}]}
		{capture}{$count++}{/capture}
		</td>
	</tr>
{/section}
</table>

{/if}

<!-- вариант для кнопки (повторить вопрос или выйти)-->
<input id="commentAns" name="commentAns" type="hidden" value="1"/>
<!--<input type="button" onclick="transitionOption({$transitionOption})" value="{$transOption}"/>-->

<div id="bottom" style="margin-bottom: 10px;">
<input type="button" class="move_button" onclick="transitionOption({$transitionOption})" value="{if $transitionOption eq '1'}Вернуться{else}Попробовать
еще раз{/if}"/> <!--покажу еще вариант-->
</div>

</form>
</div>

<script src="{$tpl}js/script.js"></script>

{/block}