{extends file='index.tpl.html'}
{block name=content}  

<meta charset="utf-8">
<link rel="stylesheet" href="{$tpl}css/main.css">

<div id="error_mess"> {$error_} </div>
<div id="commentAnswerDiv" align="center" >

<form id="commentAnswer" name="commentAnswer" method="post">

<!--смотрим какой экзаменатор-->
{if $type_examiner eq "PE"}

	<!--Если ответ не правильный, выводим комментарий и правильный ответ-->
	{if $transitionOption neq '1'}
		Комментарий:
		<p>{$question_com}</p>

		Правильный ответ:
		<p>{$question_ans}</p>
	{/if}

{else}

<table>
<tr>
{section name=gh loop=$array_final_qu}
	<!--<option value="{$sotruds_vyd[gh]['SOTRUD_K']}" {if $signers['VYD_SOTR_K'] eq $sotruds_vyd[gh]['SOTRUD_K']}selected{/if}>{$sotruds_vyd[gh]['SOTRUD_FIO']}</option>-->
	<td>
	{$array_final_qu[gh]}
	</td>
{/section}
</tr>
</table>

{/if}

<!-- вариант для кнопки (повторить вопрос или выйти)-->
<input id="commentAns" name="commentAns" type="hidden" value="1"/>
<!--<input type="button" onclick="transitionOption({$transitionOption})" value="{$transOption}"/>-->

<input type="button" onclick="transitionOption({$transitionOption})" value="{if $transitionOption eq '1'}Вернуться{else}Попробовать
еще раз{/if}"/> <!--покажу еще вариант-->

</form>
</div>

<script src="{$tpl}js/script.js"></script>

{/block}