{extends file='index.tpl.html'}
{block name=content}  

<meta charset="utf-8">
<link rel="stylesheet" href="{$tpl}css/main.css">

{literal}
<script>
	jQuery(function($) {
		
		setInterval(function() {
			document.location.href= "/auth.php";
		}, 5000);
	});
</script>
{/literal}

<div id="error_mess"> {$error_} </div>
<div id="commentAnswerDiv" align="center" >

<form id="commentAnswer" name="commentAnswer" method="post">

<!--смотрим какой экзаменатор-->
{if $type_examiner eq "PE"}

	<!--Если ответ не правильный, выводим комментарий и правильный ответ-->
	{if $transitionOption neq '1'}
	
		<div style="margin-top: 16%; max-width: 90%;">
		<div class="text_status_ansF"><span>Вы ответили неправильно!<span></div>

		<div class="text_question_comment"><span>{$question_com}<span></div>

		<div class="text_status_ansT"><span>Правильный ответ:<span></div>
		<div class="text_question_comment"><span>{$question_ans}<span></div>
		</div>
		
	{else}
		
		<div style="margin-top: 14%;">
		<div class="text_status_ansT"><span>Правильно!<span></div>
		</div>
		
	{/if}

{else} <!--контроль компетентности CC-->

<table class="simple-little-table" cellspacing='0'>

<tr>
	<th>Вопрос</th>
	<th>Ответ</th>
	<th>Комментарий</th>
</tr><!-- Table Header -->

{$count = 0}
{$type_ans = ''}
{$type_color = "color:#FE2E2E"}
{section name=gh loop=$array_final_qu}
	<!--<option value="{$sotruds_vyd[gh]['SOTRUD_K']}" {if $signers['VYD_SOTR_K'] eq $sotruds_vyd[gh]['SOTRUD_K']}selected{/if}>{$sotruds_vyd[gh]['SOTRUD_FIO']}</option>-->

	{$type_ans = $array_final_an[{$count}]}
	{capture}{$count++}{/capture}
{if $type_ans eq 'T'}

	{$type_color = "color:#04B404"}
{else}

	{$type_color = "color:#B40404"}
{/if}
	<tr style={$type_color}>
		<td>
		{$array_final_qu[gh]} <!--это final_array_questions-->
		</td>
		<td>
		{$array_final_an[{$count}]} <!--это final_array_answers-->
		{capture}{$count++}{/capture}
		</td>
		<td>
		{$array_final_an[{$count}]}
		{capture}{$count++}{/capture}
		</td>
	</tr>
{/section}
</table>

{/if}

<!-- вариант для кнопки (повторить вопрос или выйти)-->
<input id="commentAns" name="commentAns" type="hidden" value="1"/>
<!--<input type="button" onclick="transitionOption({$transitionOption})" value="{$transOption}"/>-->

<div id="bottom" style="margin-bottom: 10px;">
<input type="button" class="move_button" onclick="transitionOption({$transitionOption})" value="{if $transitionOption eq '1'}Вернуться{else}Попробовать
еще раз{/if}"/> <!--покажу еще вариант-->
</div>

</form>
</div>

<script src="{$tpl}js/script.js"></script>

{/block}