{extends file='index.tpl.html'}
{block name=content}  

<link rel="stylesheet" href="{$tpl}css/main.css">
<div id="error_mess"> {$error_} </div>

<div id="mainDiv" align="center" >

<form id="compmodelPage" name="compmodelPage" method="post">


<input id="type_compmodel" name="type_compmodel" type="hidden" value="1"/>

{if $typecomp eq "new"}
	
	<input type="button" value="ТУТ НОВЫЕ МОДЕЛИ" onclick="get_compmodel(1)"/>
{elseif $typecomp eq "all"}
    
	<input type="button" value="А ТУТ ВСЕ МОДЕЛИ" onclick="get_compmodel(1)"/>
{else}

    <table >
	<tr>
	<td><input type="button" value="Новые модели" onclick="get_compmodel(1)"/></td>
	<td><input type="button" value="Все модели" onclick="get_compmodel(2)"/></td>
	</tr>
	</table>
{/if}

<input type="button" value="Назад" onclick="get_compmodel(3)"/>

</form>
</div>
<script src="{$tpl}js/script.js"></script>

{/block}