{extends file='index.tpl.html'}
{block name=content}  

<link rel="stylesheet" href="{$tpl}css/main.css">
<div id="error_mess"> {$error_} </div>

<div id="mainDiv" align="center" >

<form id="documentsPage" name="documentsPage" method="post">


<input id="type_documents" name="type_documents" type="hidden" value="1"/>

<!-- TODO: вывод документов-->

{if $type_doc eq 1}

	{if !isset($smarty.get.norm_doc_id)}
		<a href="/lobby"><input type="button" value="Назад" onclick=""/></a>
	{else}
		<a href="/regulations"><input type="button" value="Назад" onclick=""/></a>
	{/if}
	
{elseif $type_doc eq 2}

	{if !isset($smarty.get.video_id)}
		{section name=j loop=$array_instr}
			<p><a href="/show_video_{$array_instr[j]['ID']}">{$array_instr[j]['TITLE']}</a></p>
		{/section}
		<a href="/lobby"><input type="button" value="Назад" onclick=""/></a>
	{else}
		<a href="/video_instructing"><input type="button" value="Назад" onclick=""/></a>
	{/if}
	
{elseif $type_doc eq 3}

	{if !isset($smarty.get.comp_model_id)}
		<a href="/lobby"><input type="button" value="Назад" onclick=""/></a>
	{else}
		<a href="/comp_model"><input type="button" value="Назад" onclick=""/></a>
	{/if}

{else}

	<a href="/lobby"><input type="button" value="Назад" onclick=""/></a>
	
{/if}

</form>
</div>
<script src="{$tpl}js/script.js"></script>

{/block}