<!DOCTYPE HTML>
<html lang="ru">
<head>
<title>{$title}</title>
<meta charset="utf-8">
<link rel="stylesheet" href="{$tpl}css/main.css">

{literal}
<script>

	// добавляем тесты к должности
	/*function get_sotrud(check_tab_num) {
	
		$.ajax({ //стартуем аякс
		
			type: 'POST', //обращаемся к скрипту методом ПОСТ
			data: {'type': '1'},
			url: "./inc/ajax.get_sotrud.lamp.php",//путь к скрипту, от корня
			dataType: 'json',//так как мы по ответу скрипта получаем данные, которые нужно парсить яваскриптом, говорим аяксу,что получим обратно структуированные данные с формате джейсон. Если просто возвращать выполнил или нет( 0 или 1 или еще че нить), то эту строку просто ремируем.
			error: function(req, text, error) {//обработчик, если произошла ошибка
			//console.log('Ошибка AJAX: ' + text + ' | ' + error);//выводим в консоль текст ошибки
			},
			success: function (data) {//что делать,если получили ответ от РНР, данные будут в переменной data
				//console.log(data);
				$("#sotruds").find("tr").remove();	//удаляем все, кроме первой строки таблицы(заголовок)
				var tail_table = "";
				var big_data_table = "";
				big_data_table += "<tr>";
				var cnt = 0;
				var cnt2 = 1;
				var num_cols = 14;
				$(data).each(function() {//так как мы получили структуированные данные от скрипта, запускаем по ним цикл
				if (cnt == (num_cols*cnt2)) {big_data_table += "</tr><tr>";cnt2++;}
				big_data_table += "<td id=r"+$(this).attr('TABEL_KADR')+">"+$(this).attr('TABEL_KADR')+"</td>";//добавляем в конец таблицы строки с каждым циклом и подставляем в ячейки данные
				cnt++;
				});
				//big_data_table += "</tr>";
				for (var i = 0; i < ((num_cols * cnt2) - cnt); i++) {
				   tail_table += "<td>&nbsp;</td>";
				}
				$("#sotruds tbody").append(big_data_table + tail_table + "</tr>");
			}
		});
	}*/

</script>
{/literal}

<div id="error_mess"> {$error_} </div>

<script type="text/javascript" src="{$js}jquery-2.1.1.js"></script>	
<script type="text/javascript" src="{$js}migrate.js"></script>
<script type="text/javascript" src="{$js}noselect.js"></script>
</head>
<body>
<!--<form id="list_posts" name="list_posts" method="post">
</form>-->

<div id="menu-holder-light"></div>

<main>

<aside>

	<menu>
		<li style="list-style-type: none;"><div class="authlogo_admin"></div></li>
		<li style="list-style-type: none;"><a href="/list_posts"><input class="button_menu set_cur" type="button" value="Должности" onclick=""/></a></li>
		<li style="list-style-type: none;"><a href="/list_employees"><input class="button_menu" type="button" value="Сотрудники" onclick=""/></a></li>
		<!--<li style="list-style-type: none;"><a href="/new_post"><input class="button_menu" type="button" value="Тесты" onclick=""/></a></li>-->
	</menu>

</aside>

<article>
<form id="edit_post" name="edit_post" method="post">

	<span class="title_menu_edit">Редактирование должности</span>
	
	<div align="left">
		<a href="/list_posts"><input class="button_admin_edit" type="button" value="Назад" onclick=""/></a>
		<!--в зависимости от статуса добавляем или редактируем-->
		<input class="button_admin_edit" type="button" value="Сохранить" onclick="get_post('post', this.form)"/>
	</div>
	
	<table>
		<tr>
			<td>Название должности:</td>
			<!--<td><input  type="field_postname" id="postname" name="postname" value="{$cur_post_name}"></textarea></td>-->
			<td><input  class="field_postname" id="postname" name="postname" value="{$cur_post_name}"></textarea></td>
		</tr>
		
		<tr>
			<td>Название теста:</td>
			<td>
				<p style="font-size:14px"><select style="font-size:14px" name="type_specialty" id="type_specialty">
				{section name=j loop=$array_testnames}
					<option value="{$array_testnames[j]['ID']}">{$array_testnames[j]['TITLE']}</option>
				{/section}
				</select></p>
			</td>
		</tr>
	</table>
	
{if $add_or_edit_post eq 0}

	<!-- Таблица тестов для данной должности -->
	<table class="edit_tables">

		<tr>
			<!--<th style="width: 2%;">№</th>-->
			<th style="width: 99%;">Название</th>
			<th style="width: 1%;"></th>
		</tr>
		
	</table>
{else}

	{$count = 0}
	<!-- Таблица тестов для данной должности -->
	<table class="edit_tables">

		<tr>
			<!--<th style="width: 2%;">№</th>-->
			<th style="width: 99%;">Название</th>
			<th style="width: 1%;"></th>
		</tr><!-- Table Header -->
		
		{section name=count loop=$array_test_added}
			<tr>
				<!--<td>
				{$array_test_added[{$count}]['ID']}
				</td>-->
				<td>		
				{$array_test_added[{$count}]['TITLE']}		
				</td>
				<td class="deleteInTable" style="text-align: center;">
					<!--<a href="/list_posts?del_postid={$array_test_added[{$count}]['KOD']}" onclick="deleteInTable({$array_posts[{$count}]['KOD']});" title="Удалить"><img src="files/img/del_table.png" alt="Удалить" align="center"/></a>-->
					<a href="/edit_post?del_postid={$array_test_added[{$count}]['ID']}" title="Удалить"><img src="files/img/del_table.png" alt="Удалить" align="center"/></a>
				</td>
				{capture}{$count++}{/capture}
			</tr>	
		{/section}
	</table>
{/if}
	
</form>

</article>

</main>

<footer id="bottom">

</footer>


<script src="{$tpl}js/script.js"></script>
</body>
</html>
