<!DOCTYPE HTML>
<html lang="ru">
<head>
<title>{$title}</title>
<meta charset="utf-8">
<link rel="stylesheet" href="{$tpl}css/main.css">

<div id="error_mess"> {$error_} </div>

<script type="text/javascript" src="{$js}jquery-2.1.1.js"></script>	
<script type="text/javascript" src="{$js}migrate.js"></script>
<script type="text/javascript" src="{$js}noselect.js"></script>
</head>
<body>
<!--<form id="list_posts" name="list_posts" method="post">
</form>-->

<div id="menu-holder-light"></div>

<main>

<aside>

	<menu>
		<li style="list-style-type: none;"><div class="authlogo_admin"></div></li>
		<li style="list-style-type: none;"><a href="/list_posts"><input class="button_menu" type="button" value="Должности" onclick=""/></a></li>
		<li style="list-style-type: none;"><a href="/list_employees"><input class="button_menu set_cur" type="button" value="Сотрудники" onclick=""/></a></li>
		<!--<li style="list-style-type: none;"><a href="/new_post"><input class="button_menu" type="button" value="Тесты" onclick=""/></a></li>-->
	</menu>

</aside>

<article>
<form id="edit_employee" name="edit_employee" method="employee">

	<span class="title_menu_edit">Редактирование сотрудника</span>

	<div align="left">
		<a href="/list_employees"><input class="button_admin_edit" type="button" value="Назад" onclick=""/></a>
		<!--в зависимости от статуса добавляем или редактируем-->
		<input class="button_admin_edit" type="button" value="Сохранить" onclick="get_post('employee', this.form)"/>
	</div>
	
	<table>
		<tr>
			<td>Фамилия:</td>
			<td><input  type="field_postname" id="postname" name="postname"></textarea></td>
		</tr>
		<tr>
			<td>Имя:</td>
			<td><input  type="field_postname" id="postname" name="postname"></textarea></td>
		</tr>
		<tr>
			<td>Отчество:</td>
			<td><input  type="field_postname" id="postname" name="postname"></textarea></td>
		</tr>
		<tr>
			<td>Должность:</td>
			<td>
				<p style="font-size:14px"><select name="type_doljnost" id="type_doljnost">
				{section name=j loop=$array_posts}
					<option value="{$array_posts[j]['KOD']}">{$array_posts[j]['TEXT']}</option>
				{/section}
				</select></p>
			</td>
		</tr>		
		<tr>
			<td>Табельный:</td>
			<td><input  type="field_postname" id="postname" name="postname"></textarea></td>
		</tr>
	</table>

</form>

</article>

</main>

<footer id="bottom">

</footer>


<script src="{$tpl}js/script.js"></script>
</body>
</html>
