{extends file="list.tpl.html"}
{block name="article"}
<form id="edit_employee" name="edit_employee" method="post">

	<span class="title_menu_edit">Редактирование сотрудника</span>

	<div style="margin-left: 2px;" align="left">
		<a href="/list_employees"><input class="button_admin_edit" type="button" value="Назад" onclick=""/></a>
		<!--в зависимости от статуса добавляем или редактируем-->
		<input class="button_admin_edit" type="button" value="Сохранить" onclick="get_employee(this.form)"/>
	</div>
	
	<table>
		<tr>
			<td>Фамилия:</td>
			<td><input type="field_text_edit" id="employeesur" name="employeesur" value="{$cur_employee_cur}"></td>
		</tr>
		<tr>
			<td>Имя:</td>
			<td><input type="field_text_edit" id="employeename" name="employeename" value="{if !empty($employeename)}{$employeename}{else}{$cur_employee_name}{/if}"></td>
		</tr>
		<tr>
			<td>Отчество:</td>
			<td><input type="field_text_edit" id="employeepat" name="employeepat" value="{$cur_employee_pat}"></td>
		</tr>
		<tr>
			<td>Должность:</td>
			<td>
				<p style="font-size:14px"><select name="type_doljnost" id="type_doljnost">
				{section name=j loop=$array_posts}
					{if $cur_dolj_kod eq $array_posts[j]['KOD']} <!-- ищем в списке нужный -->
						<option value="{$array_posts[j]['KOD']}" selected="selected">{$array_posts[j]['TEXT']}</option>
					{else}
						<option value="{$array_posts[j]['KOD']}">{$array_posts[j]['TEXT']}</option>
					{/if}
				{/section}
				</select></p>
			</td>
		</tr>
		<tr>
			<td>Участок:</td>
			<td>
				<p style="font-size:14px"><select name="type_uchastok" id="type_uchastok">
				{section name=j loop=$array_site}
					{if $cur_site_kod eq $array_site[j]['UCHAST_K']} <!-- ищем в списке нужный -->
						<option value="{$array_site[j]['UCHAST_K']}" selected="selected">{$array_site[j]['UCHAST_NAIM']}</option>
					{else}
						<option value="{$array_site[j]['UCHAST_K']}">{$array_site[j]['UCHAST_NAIM']}</option>
					{/if}
				{/section}
				</select></p>
			</td>
		</tr>
		<tr>
			<td>Окно в ламповой:</td>
			<td>
				<p style="font-size:14px"><select name="type_numwindows" id="type_numwindows">
				{for $foo=1 to $value_numwindows}

					{if $numwindow eq $foo} <!-- ищем в списке нужный -->
						<option value="{$foo}" selected="selected">{$foo}</option>
					{else}
						<option value="{$foo}">{$foo}</option>
					{/if}
				{/for}
				</select></p>
			</td>
		</tr>
		<tr>
			<td>Табельный:</td>
			<td><input  type="field_text_edit" id="employeetabel" name="employeetabel" value="{$cur_employee_tabel}"></td>
		</tr>
	</table>
	
	<!-- id сотрудника для передачи -->
	<input type="hidden" id="employee_hidden_id" name="employee_hidden_id" value="{$cur_employee_id}"></td>

</form>
{if !empty($date_list)}
<div class="test_list">
    <h2>Итоги тестирования</h2>
    <ul>
        {foreach from=$date_list item=date}
        <li>
            <a href="/test_res.php?sid={$cur_employee_id}&dt={urlencode($date['DATEBEGIN'])}">
                Тест за {$date['DATEBEGIN']}
            </a>
        </li>
        {/foreach}
    </ul>
</div>
{else}
<div class="test_list">
    Сотрудник не проходил тестирования
</div>
{/if}
{if $count_pt > 0}
<div class="test_list">
    <a href='test_res.php?sid={$cur_employee_id}'>Ответы по предсменному экзаменатору</a>
</div>
{else}
<div class="test_list">
    Сотрудник не отвечал на вопросы предсменного экзаменатора
</div>
{/if}
{/block}
{/extends}
