<!DOCTYPE HTML>
<html lang="ru">
<head>
<title>{$title}</title>
<meta charset="utf-8">
<link rel="stylesheet" href="{$tpl}css/main.css">

<div id="error_mess"> {$error_} </div>

<script type="text/javascript" src="{$js}jquery-2.1.1.js"></script>	
<script type="text/javascript" src="{$js}migrate.js"></script>
<script type="text/javascript" src="{$js}noselect.js"></script>
</head>
<body>
<!--<form id="list_posts" name="list_posts" method="post">
</form>-->

<div id="menu-holder-light"></div>

<main>

<aside>

	<menu>
		<li style="list-style-type: none;"><div class="authlogo_admin"></div></li>
		<li style="list-style-type: none;"><a href="/list_posts"><input class="button_menu set_cur" type="button" value="Должности" onclick=""/></a></li>
		<li style="list-style-type: none;"><a href="/list_employees"><input class="button_menu" type="button" value="Сотрудники" onclick=""/></a></li>
		<!--<li style="list-style-type: none;"><a href="/new_post"><input class="button_menu" type="button" value="Тесты" onclick=""/></a></li>-->
	</menu>

</aside>

<article>
<form id="edit_post" name="edit_post" method="post">

	<span class="title_menu_edit">Редактирование должности</span>
	
	<div align="left">
		<a href="/list_posts"><input class="button_admin_edit" type="button" value="Назад" onclick=""/></a>
		<!--в зависимости от статуса добавляем или редактируем-->
		<input class="button_admin_edit" type="button" value="Сохранить" onclick="get_post(this.form)"/>
	</div>
	
	<table>
		<tr>
			<td>Название должности:</td>
			<!--<td><input  type="field_postname" id="postname" name="postname" value="{$cur_post_name}"></textarea></td>-->
			<td><input  class="field_postname" id="postname" name="postname" value="{$cur_post_name}"></textarea></td>
		</tr>
		
		<tr>
			<td>Название теста:</td>
			<td>
				<p style="font-size:8px"><select name="type_specialty" id="type_specialty">
				{section name=j loop=$array_testnames}
					<option value="{$array_testnames[j]['ID']}">{$array_testnames[j]['TITLE']}</option>
				{/section}
				</select></p>
			</td>
		</tr>
	</table>
	
{if $add_or_edit_post eq 0}

{else}

	{$count = 0}
	<!-- Таблица тестов для данной должности -->
	<table class="edit_tables">

		<tr>
			<!--<th style="width: 2%;">№</th>-->
			<th style="width: 99%;">Название</th>
			<th style="width: 1%;"></th>
		</tr><!-- Table Header -->
		
		{section name=count loop=$array_test_added}
			<tr>
				<!--<td>
				{$array_test_added[{$count}]['ID']}
				</td>-->
				<td>		
				{$array_test_added[{$count}]['TITLE']}		
				</td>
				<td class="deleteInTable" style="text-align: center;">
					<!--<a href="/list_posts?del_postid={$array_test_added[{$count}]['KOD']}" onclick="deleteInTable({$array_posts[{$count}]['KOD']});" title="Удалить"><img src="files/img/del_table.png" alt="Удалить" align="center"/></a>-->
					<a href="/edit_post?del_postid={$array_test_added[{$count}]['ID']}" title="Удалить"><img src="files/img/del_table.png" alt="Удалить" align="center"/></a>
				</td>
				{capture}{$count++}{/capture}
			</tr>	
		{/section}
	</table>
{/if}
	
</form>

</article>

</main>

<footer id="bottom">

</footer>


<script src="{$tpl}js/script.js"></script>
</body>
</html>
