{extends file="list.tpl.html"}
{block name="article"}

{literal}
<script>

	function add_question(){
	
		$.ajax({
			//type: 'POST', 
			//data: {'typequestion': curVar},
			//url: "./inc/ajax.get_questions.php",
			//dataType: 'json',
			error: function(req, text, error) {//обработчик, если произошла ошибка
			//console.log('Ошибка AJAX: ' + text + ' | ' + error);//выводим в консоль текст ошибки
			},
			success: function (data) {

				var download_video = "<input type=file id=download_video name=download_video accept=video/mp4></input>";
				$("#generate").append(download_video);
				$("#generate").append("</br>");
			}
		});
	}
</script>

{/literal}
<script type="text/javascript" src="{$js}form-validator/jquery.form-validator.min.js"></script>

<form id="edit_questions" name="edit_questions" enctype="multipart/form-data" method="post"  action novalidate="novalidate">
    <input type="hidden" name="id" id="question-id" value=""/>
    <span class="title_menu_edit">
        Редактирование вопросов
    </span>

    <div style="margin-left: 2px;" align="left">
        <a href="/list_questions"><input class="button_admin_edit" type="button" value="Назад" onclick=""/></a>
	<!--в зависимости от статуса добавляем или редактируем-->
	<!--<input class="button_admin_edit" type="button" value="Сохранить" onclick="get_employee(this.form)"/>-->
    </div>

    <table>
        <tr>
            <td>
                Тип вопроса:
            </td>
            <td>
                <select name="type_question" id="type_question">
                {section name=j loop=$array_typequestions}
                    <option value="{$array_typequestions[j]['ID']}">{$array_typequestions[j]['TITLE']}</option>
                {/section}
		</select>
            </td>
        </tr>
        <tr>
            <td>
                Модуль:
            </td>
            <td>
                <select name="module_question" id="module_question">
                {section name=j loop=$array_module}
                    <option value="{$array_module[j]['ID']}">{$array_module[j]['TITLE']}</option>
		{/section}
		</select>
            </td>
        </tr>
        <tr>
            <td>
                Уровень риска:
            </td>
            <td>
                <select name="risklevel_question" id="risklevel_question">
                {section name=j loop=$array_risklevel}
                    <option value="{$array_risklevel[j]['ID']}">{$array_risklevel[j]['TITLE']}</option>
                {/section}
                </select>
            </td>
        </tr>
        <tr>
            <td>
                Тест:
            </td>
            <td>
                <select name="testname_question" id="testname_question">
                {section name=j loop=$array_testnames}
                    <option value="{$array_testnames[j]['ID']}">{$array_testnames[j]['TITLE']}</option>
                {/section}
                </select>
            </td>
        </tr>
        <tr>
            <td>
                Текст вопроса:
            </td>
            <td>
                <textarea name="text_question" maxlength="150" rows="2" cols="75" required style="resize: none;"  data-validation="length" data-validation-length="max150" data-validation-error-msg="Допустимая длина не более 150 символов!"></textarea>
            </td>
        </tr>
    </table>

    <div id="generate" style="margin-left: 1px;"></div>	
    <!-- ловим событие выбора -->
    {literal}
    <script>
    $("#type_question").change(
            function(){
		var curVar = $(this).val();
		
		if(!curVar) return false;
		// формируем шаблон параметров
		$.ajax({
			type: 'POST', 
			data: {'typequestion': curVar},
			url: "./inc/ajax.get_questions.php",
			//dataType: 'json',
			error: function(req, text, error) {//обработчик, если произошла ошибка
			//console.log('Ошибка AJAX: ' + text + ' | ' + error);//выводим в консоль текст ошибки
			},
			success: function (data) {
				$("#generate").html(data);
                                $.validate();
				// TODO: магические числа
			}
                });
    });

    $("document").ready($("#type_question").change()); //Инициализируем тип вопроса по умолчанию
    </script>
{/literal}
<!-- id сотрудника для передачи -->
<!--<input type="hidden" id="employee_hidden_id" name="employee_hidden_id" value="{$cur_employee_id}"></td>-->

</form>

<!--{if !empty($date_list)}
<div class="test_list">
    <h2>Итоги тестирования</h2>
    <ul>
        {foreach from=$date_list item=date}
        <li>
            <a href="/test_res.php?sid={$cur_employee_id}&dt={urlencode($date['DATEBEGIN'])}">
                Тест за {$date['DATEBEGIN']}
            </a>
        </li>
        {/foreach}
    </ul>
</div>
{/if}
{if $count_pt > 0}
<div class="test_list">
    <a href='test_res.php?sid={$cur_employee_id}'>Ответы по предсменному экзаменатору</a>
</div>
{/if}-->
{/block}
{/extends}
