{extends file="list.tpl.html"}
{block name="article"}

{literal}
<script>

	// добавляем тесты к должности
	function insert_test_row(){
		//$(".edit_tables").find("tr").remove();	// удаляем все, кроме первой строки таблицы(заголовок)
		var dolj_id = $("#dolj_id").val();
		var test_id = $("#type_specialty").val();
		var title_post = $("#title_post").val();
		
		//console.log(dolj_id+"fdfds"+test_id);
		if (dolj_id != "" && test_id != ""){// на всякий, чтоб на новой не запустили

			$.ajax({ 
				type: 'POST', 
				data: {'dolj_id': dolj_id, 'test_id': test_id},
				url: "./inc/ajax.insert_rows.posts.php",
				//dataType: 'json',
				error: function(req, text, error) {
				//console.log('Ошибка AJAX: ' + text + ' | ' + error);
				},
				success: function (data) {
					console.log(data);
					if(data == "not"){ // ничего не делаем
						$().toastmessage('showNoticeToast', 'Уже добавлено!');
					}else{
						if (data == "0"){
							console.log("Ошибка!");
							$().toastmessage('showErrorToast', 'Ошибка вставки!');
						}else{
							var arr_ans = data.split('_');
							var give_me_text_ept = $("#type_specialty option[value='"+arr_ans[1]+"']").text();
							$("#table_edit_tests tbody").append("<tr><td>"+give_me_text_ept+"</td><td><a href='/edit_post?del_testid="+arr_ans[2]+"&post_kod="+arr_ans[0]+"&post_name="+title_post+"' title='Удалить'><img src='files/img/del_table.png' alt='Удалить' align='center'></a></td></tr>");		
							//console.log(arr_ans[1]);
							$().toastmessage('showSuccessToast', 'Добавлено!');
						}
					}
				}
			});
		}
	}
	
	// добавляем инструкцию к должности
	function insert_instruction_row(){
		//$(".edit_tables").find("tr").remove();	// удаляем все, кроме первой строки таблицы(заголовок)
		var dolj_id = $("#dolj_id").val();
		var instruction_id = $("#type_instruction").val();
		var title_post = $("#title_post").val();
		
		//console.log(dolj_id+"fdfds"+instruction_id);
		if (dolj_id != "" && instruction_id != ""){// на всякий, чтоб на новой не запустили

			$.ajax({ 
				type: 'POST', 
				data: {'dolj_id': dolj_id, 'instruction_id': instruction_id},
				url: "./inc/ajax.insert_rows.instruction.php",
				//dataType: 'json',
				error: function(req, text, error) {
				//console.log('Ошибка AJAX: ' + text + ' | ' + error);
				},
				success: function (data) {
					console.log(data);
					if(data == "not"){ // ничего не делаем
						$().toastmessage('showNoticeToast', 'Уже добавлено!');
					}else{
						if (data == "0"){
							console.log("Ошибка!");
							$().toastmessage('showErrorToast', 'Ошибка вставки!');
						}else{
							var arr_ans = data.split('_');
							var give_me_text_ept = $("#type_instruction option[value='"+arr_ans[1]+"']").text();
							$("#table_edit_instruction tbody").append("<tr><td>"+give_me_text_ept+"</td><td><a href='/edit_post?del_instructionid="+arr_ans[2]+"&post_kod="+arr_ans[0]+"&post_name="+title_post+"' title='Удалить'><img src='files/img/del_table.png' alt='Удалить' align='center'></a></td></tr>");		
							//console.log(arr_ans[1]);
							$().toastmessage('showSuccessToast', 'Добавлено!');
						}
					}
				}
			});
		}
	}
	
</script>
{/literal}

<form id="edit_post" name="edit_post" method="post">

	<span class="title_menu_edit">Редактирование должности</span>
	
	<div style="margin-left: 2px;" align="left">
		{if $add_or_edit_post eq 0} <!-- новая должность -->
			
			<a href="/list_posts"><input class="button_admin_edit" type="button" value="Назад" onclick=""/></a>
			<!--в зависимости от статуса добавляем или редактируем-->
			<input class="button_admin_edit" type="button" value="Добавить должность" onclick="get_post(this.form)"/>
		{else}
			<a href="/list_posts"><input class="button_admin_edit" type="button" value="Назад" onclick=""/></a>
			<!--в зависимости от статуса добавляем или редактируем-->
			<input class="button_admin_edit" type="button" value="Изменить должность" onclick="get_post(this.form)"/>
			<!-- Добавить тест к должности -->
			<input class="button_admin_edit" type="button" onclick="insert_test_row();" value="Добавить тест"</input>
			<!-- Добавить инструкцию к должности -->
			<input class="button_admin_edit" type="button" onclick="insert_instruction_row();" value="Добавить инструкцию"</input>
		{/if}
	</div>
	
	{if $add_or_edit_post eq 0} <!-- новая должность -->
		<table>
			<tr>
				<td>Название должности:</td>
				<!--<td><input  type="field_text_edit" id="postname" name="postname" value="{$cur_post_name}"></td>-->
				<td><input  class="field_text_edit" id="postname" name="postname" value="{if ($cur_post_name)}{$cur_post_name}{/if}"></td>
				<td><input type="hidden" id="dolj_id" value="{if !empty($smarty.get.post_kod)}{$smarty.get.post_kod}{/if}"></td>
			</tr>
		</table>
	{else} <!-- редактирование -->
		<table>
			<tr>
				<td>Название должности:</td>
				<!--<td><input  type="field_text_edit" id="postname" name="postname" value="{$cur_post_name}"></td>-->
				<td><input  class="field_text_edit" id="postname" name="postname" value="{$cur_post_name}"></td>
				<td><input type="hidden" id="dolj_id" name="dolj_id" value="{if !empty($smarty.get.post_kod)}{$smarty.get.post_kod}{/if}"></td>
			</tr>
			<tr>
				<td>Название теста:</td>
				<td>
					<p style="font-size:14px"><select style="font-size:14px" name="type_specialty" id="type_specialty">
					{section name=j loop=$array_testnames}
						<option value="{$array_testnames[j]['ID']}">{$array_testnames[j]['TITLE']}</option>
					{/section}
					</select></p>
				</td>
			</tr>
			<tr>
				<td>Название инструкции:</td>
				<td>
					<p style="font-size:14px"><select style="font-size:14px" name="type_instruction" id="type_instruction">
					{section name=j loop=$array_alltrainings}
						<option value="{$array_alltrainings[j]['ID']}">{$array_alltrainings[j]['TITLE']}</option>
					{/section}
					</select></p>
				</td>
			</tr>
		</table>
	{/if}
	
{if $add_or_edit_post eq 0} <!-- новая должность -->

	<!-- Таблица тестов для данной должности -->
	<!--<table class="edit_tables">

		<tr>
			<th style="width: 99%;">Название</th>
			<th style="width: 1%;"></th>
		</tr>
		
	</table>-->
{else}

	<div id="two_columns_tests_inst">
		{$count = 0}
		<!-- Таблица тестов для данной должности -->
		<table id="table_edit_tests" class="edit_tables">

			<tr>
				<!--<th style="width: 2%;">№</th>-->
				<th style="width: 99%;">Добавленные тесты</th>
				<th style="width: 1%;"></th>
			</tr><!-- Table Header -->
			{section name=count loop=$array_test_added}
				<tr>
					<!--<td>
					{$array_test_added[{$count}]['ID']}
					</td>-->
					<td>
					{$array_test_added[{$count}]['TITLE']}		
					</td>
					<td class="deleteInTable" style="text-align: center;">
					<a href="/edit_post?posttype=1&del_testid={$array_test_added[{$count}]['ID']}&post_kod={$smarty.get.post_kod}&post_name={$smarty.get.post_name}" title="Удалить"><img src="files/img/del_table.png" alt="Удалить" align="center" onclick="return confirm('delete?');"/></a>
					</td>
					{capture}{$count++}{/capture}
				</tr>
			{/section}
		</table>
	</div>
	
	<div id="two_columns_inst_tests">
		{$count = 0}
		<!-- Таблица инструкций для данной должности -->
		<table id="table_edit_instruction" class="edit_tables">

			<tr>
				<!--<th style="width: 2%;">№</th>-->
				<th style="width: 99%;">Добавленные инструкции</th>
				<th style="width: 1%;"></th>
			</tr><!-- Table Header -->
			{section name=count loop=$array_alltraining_added}
				<tr>
					<!--<td>
					{$array_alltraining_added[{$count}]['ID']}
					</td>-->
					<td>
					{$array_alltraining_added[{$count}]['TITLE']}		
					</td>
					<td class="deleteInTable" style="text-align: center;">
					<!--<a href="/edit_post?posttype=1&del_instructionid={$array_alltraining_added[{$count}]['ID']}&post_kod={$smarty.get.post_kod}&post_name={$smarty.get.post_name}" title="Удалить"><img src="files/img/del_table.png" alt="Удалить" align="center" onclick="return confirm('delete?');"/></a>-->
					<a href="/edit_post?posttype=1&del_instructionid={$array_alltraining_added[{$count}]['ID']}&post_kod={$smarty.get.post_kod}&post_name={$smarty.get.post_name}" title="Удалить"><img src="files/img/del_table.png" alt="Удалить" align="center" onclick="return confirm('delete?');"/></a>
					</td>
					{capture}{$count++}{/capture}
				</tr>
			{/section}
		</table>
	</div>
{/if}
	
	<!--  -->
	<td><input type="hidden" id="title_post" name="title_post" value="{$smarty.get.post_name}"></td>
	
</form>

{/block}
{/extends}
