{extends file="list.tpl.html"}
{block name="article"}

<script type="text/javascript" src="{$js}form-validator/jquery.form-validator.min.js"></script>

<form id="edit_instructions" name="edit_instructions" enctype="multipart/form-data" method="post">

    <span class="title_menu_edit">
        {$title}
    </span>

    <div style="margin-left: 2px;" align="left">
        <a href="/list_instructions"><input class="button_admin_edit" type="button" value="Назад" onclick=""/></a>
		
		<!--в зависимости от статуса добавляем или редактируем-->
		<input class="button_admin_edit" type="button" value="Сохранить" onclick="get_instruction(this.form)"/>
    </div>

	<div id="two_columns_tests_inst">
	<table>
		<tr>
			<td>Тип инструкции:</td>
			<td>
				<p style="font-size:14px"><select name="type_instruction" id="type_instruction">
				{section name=j loop=$array_typeinstructions}
					{if $cur_instruction_type eq $array_typeinstructions[j]['ID']} <!-- ищем в списке нужный -->
						<option value="{$array_typeinstructions[j]['ID']}" selected="selected">{$array_typeinstructions[j]['TITLE']}</option>
					{else}
						<option value="{$array_typeinstructions[j]['ID']}">{$array_typeinstructions[j]['TITLE']}</option>
					{/if}
				{/section}
				</select></p>
			</td>
		</tr>
		<tr>
			<td>Название:</td>
			<td><input  class="field_text_edit" id="text_instruction" name="text_instruction" value="{$cur_instructiontitle}"></td>
		</tr>
	</table>
	
	<table>
		{if $instructionname_cur eq ''}
		{else}
			<tr>
			<td>Текущий файл: {$instructionname_cur}</td>
		</tr>
		{/if}
		<tr>
			<td><input type=file id=download_file name=download_file accept="video/mp4,application/pdf"></td>
		</tr>
	</table>
	</div>
	
	<div id="two_columns_inst_tests">
		{$count = 0}
		<!-- Таблица должностей -->
		<table id="table_check_instructions" class="edit_tables">

			<tr>
				<th style="width: 1%;"><input class="checkboxInTable_style" type="checkbox" onchange="checkAll(this)" name="chkAll"/></th>
				<th style="width: 1%;">№</th>
				<th style="width: 98%;">Название должности</th>
			</tr><!-- Table Header -->
			{section name=count loop=$array_doljnost}
				<tr>
					<td>
						<input class="checkboxInTable_style" type="checkbox" id="checkdolj" name="{$array_doljnost[{$count}]['KOD']}">
					</td>
					<td>
						{$array_doljnost[{$count}]['KOD']}
					</td>
					<td>
						{$array_doljnost[{$count}]['TEXT']}
					</td>
					{capture}{$count++}{/capture}
				</tr>
			{/section}
		</table>
	</div>
	<!-- value="true" checked-->
	<!--{if $active_modules_questions[{$smarty.section.second.index}]['AMOUNT'] neq 0}-->
<!--{else}

	<input class="check_text_edit" id="arraytest_id{$active_modules_questions[{$smarty.section.second.index}]['ID']}" name="arraytest_id[{$active_modules_questions[{$smarty.section.second.index}]['ID']}]" value="0">
{/if}-->
		
	<!-- id инструкции и имя файла для передачи -->
	<input type="hidden" id="instruction_hidden_id" name="instruction_hidden_id" value="{$cur_instruction_id}"></td>
	<input type="hidden" id="instruction_hidden_name" name="instruction_hidden_name" value="{$instructionname_cur}"></td>
	<input type="hidden" id="arrayAllDolj" name="arrayAllDolj"></td>

	<!-- TODO: добавить динамическую настройку вывода количества строк -->
	<script>
		var table2_Props = {
							col_0: "none",
							paging: true,
							paging_length: 20,
							rows_counter: true,
							rows_counter_text: "Строк:",
							btn_reset: true,
							loader: true,
							loader_text: "Обработка..."
							/*sort: true,
							mark_active_columns: true,
							col_0: "none",
							sort_select: true,
							col_number_format: ['EU',null,'EU']*/
						   };
		var tf2 = setFilterGrid("table_check_instructions", table2_Props);
		
		// выделяем все чекбоксы
		function checkAll(ele){
			
			var checkboxes = document.getElementsByTagName('input');
			var countCheckbox = checkboxes.length;

			if(ele.checked){
				for(var i = 0; i < countCheckbox; i++){
				
					if(checkboxes[i].type == 'checkbox'){
						checkboxes[i].checked = true;
					}
				}
			}else{
				for(var i = 0; i < countCheckbox; i++){
				
					//console.log(i)
					if(checkboxes[i].type == 'checkbox'){
						checkboxes[i].checked = false;
					}
				}
			}
		}
	</script>
	
    <!-- ловим событие выбора -->
<!--    {literal}
    <script>
    $("#type_instruction").change(
            function(){
		var curVar = $(this).val();
		var formData = $("#edit_instructions").serialize();
		if(!curVar) return false;
		// формируем шаблон параметров
		$.ajax({
			type: 'POST', 
			data: formData,
			url: "./inc/ajax.get_questions.php",
			//dataType: 'json',
			error: function(req, text, error) {//обработчик, если произошла ошибка
			//console.log('Ошибка AJAX: ' + text + ' | ' + error);//выводим в консоль текст ошибки
			},
			success: function (data) {
				$("#generate").html(data);
                                $.validate();
				// TODO: магические числа
			}
                });
    });

    $("document").ready($("#type_instruction").change()); //Инициализируем тип вопроса по умолчанию
    </script>
{/literal}-->

</form>

{/block}
{/extends}
