<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<script type="text/javascript" src="{$js}jquery-1.11.1.min.js"></script>
		
		<!--отключение выделения текста-->
		<script type="text/javascript" src="{$js}migrate.js"></script>
		<script type="text/javascript" src="{$js}noselect.js"></script>
		<script type="text/javascript" src="{$js}jquery.toast.js"></script>
                <!--<script type="text/javascript" src="{$js}pace.min.js"></script>
                <script>
                    Pace.on("done", function(){
                        $("#cover").hide(0);
                });
                </script>
                <link href="{$js}pace.css" rel="stylesheet" />-->
		<title>
			{$title}
		</title>
	</head>
	<body onselectstart="return false">
            <!--<div id="cover" style="position: fixed; width:100%; height: 100%; background: rgba(255,255,255,1); z-index:1000;top:0; left:0;"></div>-->
		{block name=content} 
						
		{/block}
		
	</body>
</html>