{extends file="list.tpl.html"}
{block name="article"}
	<span class="title_menu_edit">Сотрудники для терминала</span>

	<!-- Меню редактирования -->
	<div style="margin-left: 2px;" align="left">
            <a href="/new_employees"><input class="button_admin_edit" type="button" value="Добавить сотрудника" onclick=""/></a>
            <input class="button_admin_edit" type="button" value="Статистика" id="popup_PE_stat"/>
        </div>

	{$count = 0}
	<table class="edit_tables" id="employeelist">
            <thead>
		<tr>
			<th style="width: 4%;">№</th>
			<th style="width: 15%;">Фамилия</th>
			<th style="width: 15%;">Имя</th>
			<th style="width: 15%;">Отчество</th>
			<th style="width: 43%;">Должность</th>
			<th style="width: 7%;">Табельный</th>
			<th style="width: 1%;"></th>
		</tr>
            </thead>
            <tbody>
		{section name=count loop=$array_employees}
			<tr onclick="window.location='edit_employees?employee_id={$array_employees[{$count}]['SOTRUD_K']}&employee_cur={$array_employees[{$count}]['SOTRUD_FAM']}&employee_name={$array_employees[{$count}]['SOTRUD_IM']}&employee_pat={$array_employees[{$count}]['SOTRUD_OTCH']}&employee_tabel={$array_employees[{$count}]['TABEL_SPUSK']}&dolj={$array_employees[{$count}]['KOD']}'" style="cursor: pointer;">
				<td>
				{$array_employees[{$count}]['SOTRUD_K']}
				</td>
				<td>
				{$array_employees[{$count}]['SOTRUD_FAM']}
				</td>
				<td>
				{$array_employees[{$count}]['SOTRUD_IM']}
				</td>
				<td>
				{$array_employees[{$count}]['SOTRUD_OTCH']}
				</td>
				<td>
				{$array_employees[{$count}]['TEXT']}
				</td>
				<td>
				{$array_employees[{$count}]['TABEL_SPUSK']}
				</td>
				<td class="deleteInTable" style="text-align: center;">
				<a href="/list_employees?del_employeeid={$array_employees[{$count}]['SOTRUD_K']}" title="Удалить"><img src="files/img/del_table.png" alt="Удалить" align="center"/></a>
				</td>
				{capture}{$count++}{/capture}
			</tr>	
		{/section}
            </tbody>
	</table>
        <div id="PE_stats" onclick="getPEStats();" style="background:#fff;">
        </div>
        <script src="{$js}jquery.popupoverlay.js"></script>
{literal}
        <script>
            var table2_Props = {
                                sort: true,
                                mark_active_columns: true,
                                col_0: "none",
                                col_4: "select",
                                col_6: "none",
                                display_all_text: " [ Показать все ] ",
                                sort_select: true,
                                col_number_format: ['EU',null,null,null,null,'EU',null]
                               };
            var tf2 = setFilterGrid("employeelist", table2_Props);
            
            $(document).ready(function() {
                getPEStats();
		$('#PE_stats').popup(   
                                            {
                                                openelement: '#popup_PE_stat',
                                                closeelement: '#closePE_stats',
                                                onopen: function(){getPEStats();}
                                            });
                                        });
            function getPEStats()
            {
                var emp_ids = [];
                
                $("#employeelist tbody>tr").each(
                        function()
                        {
                            if ($(this).css('display')!='none')
                            {
                                emp_ids.push($(this).children('td:first-child').text());
                            }
                        }
                        );
                
                $.ajax({
                type: 'POST', //обращаемся к скрипту методом ПОСТ
                data: {'emp_ids':emp_ids},
                url: "./inc/ajax.PE_stats.list_employees.php",//путь к скрипту, от корня
                error: function(req, text, error) {//обработчик, если произошла ошибка
                //console.log('Ошибка AJAX: ' + text + ' | ' + error);//выводим в консоль текст ошибки
                },
                success: function (data)
                         {
                            $("#PE_stats").html(data);
                         }
               });
            }
        </script>
{/literal}
{/block}
{/extends}