<!DOCTYPE HTML>
<html lang="ru">
<head>
<title>{$title}</title>
<meta charset="utf-8">
<link rel="stylesheet" href="{$tpl}css/main.css">

<div id="error_mess"> {$error_} </div>

<script type="text/javascript" src="{$js}jquery-2.1.1.js"></script>	
<script type="text/javascript" src="{$js}migrate.js"></script>
<script type="text/javascript" src="{$js}noselect.js"></script>
</head>
<body>
<!--<form id="list_posts" name="list_posts" method="post">
</form>-->

<div id="menu-holder-light"></div>

<main>

<aside>

	<menu>
		<li style="list-style-type: none;"><div class="authlogo_admin"></div></li>
		<li style="list-style-type: none;"><a href="/list_posts"><input class="button_menu" type="button" value="Должности" onclick=""/></a></li>
		<li style="list-style-type: none;"><a href="/list_employees"><input class="button_menu set_cur" type="button" value="Сотрудники" onclick=""/></a></li>
		<li style="list-style-type: none;"><a href="/admin_settings"><input class="button_menu" type="button" value="Настройки" onclick=""/></a></li>
		<!--<li style="list-style-type: none;"><a href="/new_post"><input class="button_menu" type="button" value="Тесты" onclick=""/></a></li>-->
	</menu>

</aside>

<article>

	<span class="title_menu_edit" style="margin-left: 2px;">Сотрудники для терминала</span>

	<!-- Меню редактирования -->
	<div style="margin-left: 2px;" align="left"><a href="/new_employees"><input class="button_admin_edit" type="button" value="Добавить сотрудника" onclick=""/></a></div>

	{$count = 0}
	<table class="edit_tables">

		<tr>
			<th style="width: 2%;">№</th>
			<th style="width: 16%;">Фамилия</th>
			<th style="width: 15%;">Имя</th>
			<th style="width: 16%;">Отчество</th>
			<th style="width: 43%;">Должность</th>
			<th style="width: 8%;">Табельный</th>
			<th style="width: 1%;"></th>
		</tr>
		
		{section name=count loop=$array_employees}
			<tr onclick="window.location='edit_employees?employee_id={$array_employees[{$count}]['SOTRUD_K']}&employee_cur={$array_employees[{$count}]['SOTRUD_FAM']}&employee_name={$array_employees[{$count}]['SOTRUD_IM']}&employee_pat={$array_employees[{$count}]['SOTRUD_OTCH']}&employee_tabel={$array_employees[{$count}]['TABEL_KADR']}&dolj={$array_employees[{$count}]['KOD']}'" style="cursor: pointer;">
				<td>
				{$array_employees[{$count}]['SOTRUD_K']}
				</td>
				<td>
				{$array_employees[{$count}]['SOTRUD_FAM']}
				</td>
				<td>
				{$array_employees[{$count}]['SOTRUD_IM']}
				</td>
				<td>
				{$array_employees[{$count}]['SOTRUD_OTCH']}
				</td>
				<td>
				{$array_employees[{$count}]['TEXT']}
				</td>
				<td>
				{$array_employees[{$count}]['TABEL_KADR']}
				</td>
				<td class="deleteInTable" style="text-align: center;">
				<a href="/list_employees?del_employeeid={$array_employees[{$count}]['SOTRUD_K']}" title="Удалить"><img src="files/img/del_table.png" alt="Удалить" align="center"/></a>
				</td>
				{capture}{$count++}{/capture}
			</tr>	
		{/section}
	</table>

</article>

</main>

<footer id="bottom">
</footer>

<script src="{$tpl}js/script.js"></script>
</body>
</html>
