{extends file="list.tpl.html"}
{block name="article"}
	<span class="title_menu_edit">Список тестов</span>

	<div style="margin-left: 2px;" align="left"><a href="/new_test"><input class="button_admin_edit" type="button" value="Добавить тест" onclick=""/></a></div>
	<!-- Меню редактирования -->
	<!--<nav>
		<ul>
			<li><a href="/new_post"><input class="button_admin_edit" type="button" value="Добавить должность" onclick=""/></a></li>
		</ul>
	</nav>-->

	{$count = 0}
	<!-- ограничиваем таблицу для скролинга -->
	<!--<div class="scrolling_tables_menu">-->
	<table class="edit_tables" id="testlist">

		<tr>
			<th style="width: 2%;">№</th>
			<th style="width: 94%;">Название</th>
			<th style="width: 3%;">Баллы</th>
			<th style="width: 1%;"></th>
		</tr><!-- Table Header -->
		
		{section name=count loop=$array_tests}
			<tr>
				<td>
				{$array_tests[{$count}]['ID']}
				</td>
				<td onclick="window.location='edit_test?test_id={$array_tests[{$count}]['ID']}&test_title={$array_tests[{$count}]['TITLE']}&test_penalty={$array_tests[{$count}]['PENALTYPOINTS']}'" title="Редактировать" style="cursor: pointer;">		
				{$array_tests[{$count}]['TITLE']}		
				</td>
				<td>
				{$array_tests[{$count}]['PENALTYPOINTS']}
				</td>
				<td class="deleteInTable" style="text-align: center;">
					
					<a href="/list_tests?del_testid={$array_tests[{$count}]['ID']}" title="Удалить"><img src="files/img/del_table.png" alt="Удалить" align="center"/></a>
				</td>
				{capture}{$count++}{/capture}
			</tr>	
		{/section}
	</table>
	<!--</div>-->

	<!--<section>
		<p>здесь могут быть похожие записи, слайдер, баннеры, миниатюры и т.д...</p>
	</section>-->
	<script>
		var table2_Props = {
							sort: true,
							mark_active_columns: true,
							col_2: "none",
							col_3: "none",
							sort_select: true,
							col_number_format: ['EU',null,null,'EU']
						   };
		var tf2 = setFilterGrid("testlist", table2_Props);
	</script>
{/block}
{/extends}