<!DOCTYPE HTML>
<html lang="ru">
<head>
<title>{$title}</title>
<meta charset="utf-8">
<link rel="stylesheet" href="{$tpl}css/main.css">

<div id="error_mess"> {$error_} </div>

<script type="text/javascript" src="{$js}jquery-1.11.1.min.js"></script>	
<script type="text/javascript" src="{$js}migrate.js"></script>
<script type="text/javascript" src="{$js}noselect.js"></script>
<script type="text/javascript" src="{$js}TableFilter/tablefilter_min.js"></script>
</head>
<body>
<!--<form id="list_posts" name="list_posts" method="post">
</form>-->

<div id="menu-holder"></div>

<main>

<aside>
{if !isset($curPage)}
{assign var="curPage" value="0"}
{/if}
	<menu>
            <li style="list-style-type: none;"><div class="authlogo_admin"></div></li>
            {if $role==0}
		{if $curPage==1}
                {assign var="selected" value=" set_cur"}
                {else}
                {assign var="selected" value=""}
                {/if}
		<li style="list-style-type: none;"><a href="/list_posts"><input class="button_menu{$selected}" type="button" value="Должности" onclick=""/></a></li>
		{if $curPage==2}
                {assign var="selected" value=" set_cur"}
                {else}
                {assign var="selected" value=""}
                {/if}
                <li style="list-style-type: none;"><a href="/list_employees" value="1"><input class="button_menu{$selected}" type="button" value="Сотрудники" onclick=""/></a></li>
		<!--<li style="list-style-type: none;"><a href="/list_tests"><input class="button_menu" type="button" value="Тесты" onclick=""/></a></li>-->
		{if $curPage==3}
                {assign var="selected" value=" set_cur"}
                {else}
                {assign var="selected" value=""}
                {/if}
                <li style="list-style-type: none;"><a href="/list_tests"><input class="button_menu{$selected}" type="button" value="Тесты" onclick=""/></a></li>
            
                {if $curPage==5}
                {assign var="selected" value=" set_cur"}
                {else}
                {assign var="selected" value=""}
                {/if}
                <li style="list-style-type: none;"><a href="/list_questions"><input class="button_menu{$selected}" type="button" value="Вопросы" onclick=""/></a></li>
                
		{if $curPage==4}
                {assign var="selected" value=" set_cur"}
                {else}
                {assign var="selected" value=""}
                {/if}
                <li style="list-style-type: none;"><a href="/admin_settings"><input class="button_menu{$selected}" type="button" value="Настройки" onclick=""/></a></li>
        
            {elseif $role==1}
                {if $curPage==2}
                    {assign var="selected" value=" set_cur"}
                {else}
                    {assign var="selected" value=""}
                {/if}
                <li style="list-style-type: none;"><a href="/list_employees"><input class="button_menu{$selected}" type="button" value="Сотрудники" onclick=""/></a></li>
		{/if}
		{if $curPage==6}
                {assign var="selected" value=" set_cur"}
                {else}
                {assign var="selected" value=""}
                {/if}
		<li style="list-style-type: none;"><a href="/login"><input class="button_menu{$selected}" type="button" value="Выход" onclick=""/></a></li>
	</menu>

</aside>

<article>
{block name="article"}

{/block}
</article>

</main>

<footer id="bottom">
</footer>

<script src="{$tpl}js/script.js"></script>
</body>
</html>
