{extends file='index.tpl.html'}
{block name=content}  
	
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" href="{$tpl}css/main.css">
<script type="text/javascript" src="{$js}jquery-1.11.1.min.js"></script>
</head>
<body>
<div id="error_mess"> {$error_} </div>

<div id="mainDiv" align="center" >

<form id="mainpage" name="mainpage" method="post">

<!-- Выхом по таймеру -->
{literal}
<script>
	setTimeout(function() { window.location="./auth.php" }, 60000);
</script>
{/literal}

<input id="type_submit_main" name="type_submit_main" type="hidden" value="1"/>

<!-- menu-holder -->
<div id="menu-holder"></div>
<!-- ENDS menu-holder -->

<div class="top-face">Личный кабинет</div>

<div id="menu-holder"></div>

<div class="info_sotrud_kab" align="left">
	<table class="table_kab_stat">
		<tr>
			<td><span id="title_kab_stat">Номер:</span></td>
			<td><span id="title_kab_stat">{$sotrud_tabkadr}</span></td>
		<tr>
		<tr>
			<td><span id="title_kab_stat">Ваше имя:</span></td>
			<td><span id="title_kab_stat">{$sotrud_fam} {$sotrud_im} {$sotrud_otch}</span></td>
		<tr>
		<tr>
			<td><span id="title_kab_stat">Должность:</span></td>
			<td><span id="title_kab_stat">{$sotrud_dolj}</span></td>
		<tr>
	</table>
</div>

<div style="margin-top: 3%;">
<table class="table_menu_lobby" style="width:80%;">
	<tr style="width:100%;">
		<!--<td><input class="quest_num" type="button" value={$count}></td>-->
		<td><input class="choice_button" type="button" onclick="go_from_main(1)" value="Нормативные документы"/></td>
		<td><input class="choice_button" type="button" onclick="go_from_main(2)" value="Комплексный экзаменатор"/></td>
	</tr>

	<tr style="width:100%;">
		<td><input class="choice_button" type="button" onclick="go_from_main(3)" value="Видеоинструктажи"/></td>
		<td><input class="choice_button" type="button" onclick="go_from_main(4)" value="Предсменный экзаменатор"/></td>
	</tr>

	<tr style="width:100%;">
		<td><input class="choice_button" type="button" onclick="go_from_main(5)" value="Компьютерные модели несчастных случаев"/></td>
                <td><a href="/addproposals"><input class="choice_button" type="button" value="Предложения руководству"/></a></td>
	</tr>

	<tr style="width:100%;">
		<td><input class="choice_button" type="button" onclick="go_from_main(7)" value="Контроль личной компетентности"/></td>
	</tr>
</table>
</div>

<div id="bottom" style="margin-bottom: 30px;">
	<input type="button" class="move_button" value="Выход" onclick="go_from_main(8)"/>
</div>
</form>

<div id="bottom">
	<div id="menu-holder"></div>
</div>

</div>
<script src="{$tpl}js/script.js"></script>
	
	<!--<p>Привет человек номер - {$smarty.session.sotrud_id}</p>
	Это главная страница
	<p><a href="question.php">Какой то экзаменатор</a></p>
 
	<p><a href="./">Личный кабинет</a></p>
 
	<p><a href="auth.php">Выход</a></p>-->
	
{/block}