<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>{$title}</title>
	<meta http-equiv="X-UA-Compatible" content="IE=8" />
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	
	<link rel="stylesheet" href="{$tpl}css/style.css" type="text/css"/>  
	<link rel="stylesheet" href="{$tpl}css/main.css" type="text/css"/> 
	<link rel="stylesheet" href="{$tpl}css/base/jquery.ui.all.css" type="text/css" media="screen" />	
{literal}
<style type="text/css">
	html{
		padding: 150px 0px;
		background: #fff;
	}
	body{
		margin: 0 auto;
		padding: 10px;
		border: 1px solid black;
		border-radius: 15px;
		background: #f2f2f3;
		width: 1200px;
		height: 380px;
	}
	
</style>
{/literal}
<body>
	<table>
		<tr>
			<td>
				<img src="{$picture}/grumpy.png">
			</td>
			<td>
				<p><h1 style="color: #321; font: bold italic 50px Verdana;">Связь временно потеряна!</h1></p></td>
		</tr>
	</table>
</body>
</html>
