{extends file='index.tpl.html'}
{block name=content}  

<link rel="stylesheet" href="{$tpl}css/main.css">


<script>
jQuery(document).ready(function(){
	//$('#proposalsPage').disableTextSelect();
	$('#tabnum').disableTextSelect();
	$('#not_select').disableTextSelect();
	
	<!--Выпадающий список-->
	enableSelectBoxes();
});
</script>

<div id="error_mess"> {$error_} </div>

<div id="mainDiv" align="center" >

<form id="proposalsPage" name="proposalsPage" method="post">

<div id="menu-holder"></div>

{$type_color = "color:#FE2E2E"}

{if $type_prop eq "view"}

{$counttype = 0}
<!--выводим статистику-->
<div class="scrolling_tables_proposols">
{section name=first loop=$array_statistic show=true}
<table border="1" width="720px" class="table_proposols" cellspacing='0'>
<caption class="caption_proposolstype">{$array_typemes[$counttype]['TITLE']}</caption>
{capture}{$counttype++}{/capture}
<!--шапка-->
<tr>
	<th style="width:10%;">Дата отправки</th>
	<th style="width:40%;">Сообщение</th>
	<th style="width:40%;">Ответ</th>
	<th style="width:10%;">Дата ответа</th>
</tr>
<tbody>
	{section name=second loop=$array_statistic[first]}
	
		<tr>
		{section name=third loop=$array_statistic[first][second]}

			{if $array_statistic[first][second][0] eq 'T'}

				{$type_color = "color:#04B404"}
			{else}

				{$type_color = "color:#B40404"}
			{/if}
		
			{if $smarty.section.third.index eq 0} {continue} {/if} <!-- status не выводим-->
			
			<td style={$type_color}>			
			{if $smarty.section.third.index eq 1 or $smarty.section.third.index eq 4}
				{to_date date=$array_statistic[first][second][third]}
			{else}
				{$array_statistic[first][second][third]}
			{/if}			
			</td>
		{/section}
		</tr>
	{/section}
</tbody>
</table>
{/section}
</div>

<div id="bottom" style="margin-bottom: 30px;">
<a href="/lobby"><input class="move_button" type="button" value="Назад" onclick=""/></a>
<a href="/addproposals"><input class="move_button" type="button" value="Добавить" onclick=""/></a>
</div>

{elseif $type_prop eq "add"} <!--добавить новое предложение-->

<!--выпадающий список-->
<ul>
	<li style="list-style-type: none;">
		<div class='selectBox'>
			<span class='selected'></span>
			<span class='selectArrow'>▼</span>
			<div class="selectOptions" id="span_selectBox">
				{section name=j loop=$array_typemes}
					<span class="selectOption" value="{$array_typemes[j]['ID']}">{$array_typemes[j]['TITLE']}</span>
				{/section}
			</div>
		</div>
	</li>
</ul>
<textarea type="field_proposol" id="tabnum" name="tabnum" readonly></textarea>

<input type="hidden" name="typemessage" id="typemessage" value="">
<!-- bool для определения выбирали ли чего из списка -->
<input type="hidden" name="bool_typemessage" id="bool_typemessage" value="0">

<!--<div class="select_proposals">
<select name="typemessage1" id="typemessage1">
	{section name=j loop=$array_typemes}
		<option value="{$array_typemes[j]['ID']}">{$array_typemes[j]['TITLE']}</option>
	{/section}
</select>
</div>-->

<div id="not_select">
<td><input type="num_button" value="1" onclick="addToField(1)" style="cursor: pointer;"/></td>
<td><input type="num_button" value="2" onclick="addToField(2)" style="cursor: pointer;"/></td>
<td><input type="num_button" value="3" onclick="addToField(3)" style="cursor: pointer;"/></td>
<td><input type="num_button" value="4" onclick="addToField(4)" style="cursor: pointer;"/></td>
<td><input type="num_button" value="5" onclick="addToField(5)" style="cursor: pointer;"/></td>
<td><input type="num_button" value="6" onclick="addToField(6)" style="cursor: pointer;"/></td>
<td><input type="num_button" value="7" onclick="addToField(7)" style="cursor: pointer;"/></td>
<td><input type="num_button" value="8" onclick="addToField(8)" style="cursor: pointer;"/></td>
<td><input type="num_button" value="9" onclick="addToField(9)" style="cursor: pointer;"/></td>
<td><input type="num_button" value="0" onclick="addToField(0)" style="cursor: pointer;"/></td>
<td><input type="num_button" value="?" onclick="addToField('?')" style="cursor: pointer;"/></td>
<td><input type="num_button" value="!" onclick="addToField('!')" style="cursor: pointer;"/></td>

<p style="font-size:8px">
<td><input type="num_button" value="Й" onclick="addToField('Й')" style="cursor: pointer;"/></td>
<td><input type="num_button" value="Ц" onclick="addToField('Ц')" style="cursor: pointer;"/></td>
<td><input type="num_button" value="У" onclick="addToField('У')" style="cursor: pointer;"/></td>
<td><input type="num_button" value="К" onclick="addToField('К')" style="cursor: pointer;"/></td>
<td><input type="num_button" value="Е" onclick="addToField('Е')" style="cursor: pointer;"/></td>
<td><input type="num_button" value="Н" onclick="addToField('Н')" style="cursor: pointer;"/></td>
<td><input type="num_button" value="Г" onclick="addToField('Г')" style="cursor: pointer;"/></td>
<td><input type="num_button" value="Ш" onclick="addToField('Ш')" style="cursor: pointer;"/></td>
<td><input type="num_button" value="Щ" onclick="addToField('Щ')" style="cursor: pointer;"/></td>
<td><input type="num_button" value="З" onclick="addToField('З')" style="cursor: pointer;"/></td>
<td><input type="num_button" value="Х" onclick="addToField('Х')" style="cursor: pointer;"/></td>
<td><input type="num_button" value="Ъ" onclick="addToField('Ъ')" style="cursor: pointer;"/></td>
</p>

<p style="font-size:8px">
<td><input type="num_button" value="Ф" onclick="addToField('Ф')" style="cursor: pointer;"/></td>
<td><input type="num_button" value="Ы" onclick="addToField('Ы')" style="cursor: pointer;"/></td>
<td><input type="num_button" value="В" onclick="addToField('В')" style="cursor: pointer;"/></td>
<td><input type="num_button" value="А" onclick="addToField('А')" style="cursor: pointer;"/></td>
<td><input type="num_button" value="П" onclick="addToField('П')" style="cursor: pointer;"/></td>
<td><input type="num_button" value="Р" onclick="addToField('Р')" style="cursor: pointer;"/></td>
<td><input type="num_button" value="О" onclick="addToField('О')" style="cursor: pointer;"/></td>
<td><input type="num_button" value="Л" onclick="addToField('Л')" style="cursor: pointer;"/></td>
<td><input type="num_button" value="Д" onclick="addToField('Д')" style="cursor: pointer;"/></td>
<td><input type="num_button" value="Ж" onclick="addToField('Ж')" style="cursor: pointer;"/></td>
<td><input type="num_button" value="Э" onclick="addToField('Э')" style="cursor: pointer;"/></td>
</p>

<p style="font-size:8px">
<td><input type="num_button" value="Я" onclick="addToField('Я')" style="cursor: pointer;"/></td>
<td><input type="num_button" value="Ч" onclick="addToField('Ч')" style="cursor: pointer;"/></td>
<td><input type="num_button" value="С" onclick="addToField('С')" style="cursor: pointer;"/></td>
<td><input type="num_button" value="М" onclick="addToField('М')" style="cursor: pointer;"/></td>
<td><input type="num_button" value="И" onclick="addToField('И')" style="cursor: pointer;"/></td>
<td><input type="num_button" value="Т" onclick="addToField('Т')" style="cursor: pointer;"/></td>
<td><input type="num_button" value="Ь" onclick="addToField('Ь')" style="cursor: pointer;"/></td>
<td><input type="num_button" value="Б" onclick="addToField('Б')" style="cursor: pointer;"/></td>
<td><input type="num_button" value="Ю" onclick="addToField('Ю')" style="cursor: pointer;"/></td>
</p>

<p style="font-size:8px">
<td><input type="reset" value="X" id="resetnum_button"/></td>
<td><input type="num_button" value="<" onclick="del()" style="cursor: pointer;"/></td>
<td><input type="num_button" value=" " onclick="addToField(' ')" style="cursor: pointer;"/></td>
<td><input type="num_button" value="," onclick="addToField(',')" style="cursor: pointer;"/></td>
<td><input type="num_button" value="." onclick="addToField('.')" style="cursor: pointer;"/></td>
</p>

<input id="type_proposals" name="type_proposals" type="hidden" value="1"/>

<div id="bottom" style="margin-bottom: 30px;">
<!--<input type="num_button" value="Назад" onclick="get_proposals(0)"/>-->
<a href="/proposals"><input class="move_button" type="button" value="Назад" onclick=""/></a>
<a href="/lobby"><input class="move_button" type="button" value="В меню" onclick=""/></a>
<input class="move_button" type="button" value="Отправить" onclick="get_proposals(1)"/>
</div>

{else}

{/if}

</div> <!-- div not_select -->
</form>

<div id="bottom">
	<div id="menu-holder"></div>
</div>

</div>
<script src="{$tpl}js/script.js"></script>

{/block}