{extends file='index.tpl.html'}
{block name=content}  

<meta charset="utf-8">
<link rel="stylesheet" href="{$tpl}css/main.css">

<div id="error_mess"> {$error_} </div>
<div id="questionsDiv" align="center" >

<form id="questions" name="questions" method="post">

<input id="answer" name="answer" type="hidden" value="1"/>

<!-- Пройти тестирование или пробное тестирование-->
<input type="hidden" id="comp_lvl_id" name="comp_lvl_id" value="0">
<input type="hidden" id="answ_id" name="answ_id" value="0">
<input type="hidden" id="numid" name="numid" value="0">
	
{$k = 0}
{if $typetest eq 1} <!-- Предсменный экзаменатор -->

<!-- В зависимости от типа вопроса и модуля сделать свое оформление -->
<!--{$textmodule = "Проверка знаний"}-->
<table style="width: 100%">
<tr>
<td><div class="text_FIO"><span>{$sm_sotrud_fam} {$sm_sotrud_im} {$sm_sotrud_otch}<span></div></td>
<td><div class="text_sotrud_dolj"><span>{$sm_sotrud_dolj['TEXT']}<span></div></td>
<td><div class="text_sotrud_tabel"><span>Табельный номер: {$sm_sotrud_tabel['TABEL_KADR']}<span></div></td>
</tr>
</table>
<!--<div class="text_module"><span>МОДУЛЬ: {$textmodule}<span></div>-->

<table style="width: 100%; margin-top: 16%;">
<tr>
<td style="min-width: 110px;"><div class="text_ID_question"><span>№: {$sm_ID_question}<span></div></td>
<td><div class="text_question"><span>{$question['TEXT']}<span></div></td>
</tr>
</table>

<!--Временная картинка-->
<!--<img src="fon.png" alt="Письма мастера дзен">-->

<table id="bottom" class="list-answers-table" cellspacing='0' cellpadding='0'>

	{$count = 1}
	{section name=i loop=$array_answers}
		<tr>
			<td><input class="quest_num" type="button" value={$count}></td>
			<td style="width:100%;"><input class="choice_button" type="button" onclick="textAnswer({$array_answers[i]['COMPETENCELEVELID']}, {$array_answers[i]['ID']}, {$k++})" value="{$array_answers[i]['TEXT']}"/></td>
		</tr>
		{capture}{$count++}{/capture}
	{/section}
</table>

{elseif $typetest eq 2} <!-- Меню выбора сдачи -->
    
	<!--<input class="move_button" type="button" onclick="typeTest(1)" value="Пробное тестирование"/>-->
	<!--<input class="move_button" type="button" onclick="typeTest(2)" value="Тестирование"/>-->
	<button class="move_button" type="button" onclick="typeTest(1)" >Пробное<br>тестирование</button>
	<button class="move_button" type="button" onclick="typeTest(2)" >Тестирование</button>
	
{else} <!-- Контроль компетентности -->

	<!--{$question['TEXT']}-->
	{$question}

	<p>
	{section name=i loop=$array_answers}
		<input class="choice_button" type="button" onclick="textAnswer({$array_answers[i]['COMPETENCELEVELID']}, {$array_answers[i]['ID']}, {$k++})" value="{$array_answers[i]['TEXT']}"/>
		<br>
	{/section}
	</p>
{/if}

</form>
</div>
<script src="{$tpl}js/script.js"></script>

{/block}