{extends file='index.tpl.html'}
{block name=content}
<!--
{literal}
<script>

	//var time_delay = 5000;
	var may_go = 1;
	jQuery(function($) {
		$("#tabnum_lamp").focus();
		
		//var time_delay = 5;
		//var lloop = 0;
		setInterval(function() {
			//lloop++;
			if (may_go == 1){
				get_sotrud(0);
			}else{
				setInterval(function() {may_go = 1;}, 5000);
			}
			//$green.css('left', ++greenLeft);
		}, 5000);
	});

</script>
{/literal}
-->

<meta charset="utf-8">
<link rel="stylesheet" href="{$tpl}css/main.css">

<div id="error_mess"> {$error_} </div>
<div id="questionsDiv" align="center" >

<form id="questions" name="questions" method="post">

<input id="answer" name="answer" type="hidden" value="1"/>

<!-- Пройти тестирование или пробное тестирование-->
<input type="hidden" id="comp_lvl_id" name="comp_lvl_id" value="0">
<input type="hidden" id="answ_id" name="answ_id" value="0">
<input type="hidden" id="numid" name="numid" value="0">

{$k = 0}
{if $typetest eq 1} <!-- Предсменный экзаменатор -->

<!-- В зависимости от типа вопроса и модуля сделать свое оформление -->
<!--{$textmodule = "Проверка знаний"}-->
<table style="width: 100%; background: #A9D0F5;">
<tr>
<td><div class="text_FIO"><span>{$sm_sotrud_fam} {$sm_sotrud_im} {$sm_sotrud_otch}<span></div></td>
<td><div class="text_sotrud_dolj"><span>{$sm_sotrud_dolj['TEXT']}<span></div></td>
<td><div class="text_sotrud_tabel"><span>Табельный номер: {$sm_sotrud_tabel['TABEL_KADR']}<span></div></td>
</tr>
</table>
<!--<div class="text_module"><span>МОДУЛЬ: {$textmodule}<span></div>-->

<!-- ТАЙМЕР (начало) -->
<div class="time_60s"><div id="quest_timer"><span id="timer" class="seconds" long="59">60</span></div></div>

<script>
	var t = setInterval(function(){
	
		function f(x){
			return (x / 100).toFixed(2).substr(2)
		}
		
		var o = document.getElementById('timer'), s = o.innerHTML;
		s--;

		if(s < 1){
			window.location="./auth.php";
			s = '00';
		}
		o.innerHTML = f(s);
	}, 1000);
</script>
<!-- ТАЙМЕР (окончание) -->

<!--TODO: Магическое число 21-->
	{if $type_question eq 21} <!--вопрос с простой картинкой-->

		<img src="{$photo}/{$simplephoto}" alt="">

		<table style="width: 100%; background: #ffff99; min-height: 100px;">
		<tr>
		<td><div style="margin-top: 1%;" class="text_question"><span>№:{$sm_ID_question}   {$question['TEXT']}<span></div></td>
		</tr>
		</table>
		
		<table id="bottom" class="list-answers-table" cellspacing='0' cellpadding='0'>

			{$count = 1}
			{section name=i loop=$array_answers}
				<tr>
					<td><input class="quest_num" type="button" value={$count}></td>
					<td style="width:100%;"><input class="choice_button" type="button" onclick="textAnswer({$array_answers[i]['COMPETENCELEVELID']}, {$array_answers[i]['ID']}, {$k++})" value="{$array_answers[i]['TEXT']}"/></td>
				</tr>
				{capture}{$count++}{/capture}
			{/section}
		</table>
		
	{elseif $type_question eq 8} <!--текстовый вопрос-->
		
		<table style="width: 100%; background: #ffff99; margin-top: 16%; min-height: 100px;">
		<tr>
		<!--<td style="min-width: 110px;"><div class="text_ID_question"><span>№: {$sm_ID_question}<span></div></td>-->
		<!--<td><div class="text_question"><span>{$question['TEXT']}<span></div></td>-->
		<td><div style="margin-top: 1%;" class="text_question"><span>№:{$sm_ID_question}   {$question['TEXT']}<span></div></td>
		</tr>
		</table>

		<table id="bottom" class="list-answers-table" cellspacing='0' cellpadding='0'>

			{$count = 1}
			{section name=i loop=$array_answers}
				<tr>
					<td><input class="quest_num" type="button" value={$count}></td>
					<td style="width:100%;"><input class="choice_button" type="button" onclick="textAnswer({$array_answers[i]['COMPETENCELEVELID']}, {$array_answers[i]['ID']}, {$k++})" value="{$array_answers[i]['TEXT']}"/></td>
				</tr>
				{capture}{$count++}{/capture}
			{/section}
		</table>
		
	{else}
	{/if}
	
{elseif $typetest eq 2} <!-- Меню выбора сдачи -->
    
	<div id="menu-holder"></div>
	
	<div class="text_question_comment" style="background: #A9D0F5; margin-top: 12%;"><div style="max-width: 90%;">Пройдите пробное тестирование без записи в историю.<br><br>Или полное тестирование с записью.</div></div>
	
	<!--<input class="move_button" type="button" onclick="typeTest(1)" value="Пробное тестирование"/>-->
	<!--<input class="move_button" type="button" onclick="typeTest(2)" value="Тестирование"/>-->
	<div id="bottom" style="margin-bottom: 30px;">
		<button class="move_button" type="button" onclick="javascript:window.location='./lobby'"><br>Назад</button>
		<button class="move_button" type="button" onclick="typeTest(1)" >Пробное<br>тестирование</button>
		<button class="move_button" type="button" onclick="typeTest(2)" ><br>Тестирование</button>
	</div>
	
	<div id="bottom">
		<div id="menu-holder-light"></div>
		<div id="menu-holder"></div>
	</div>
{else} <!-- Контроль компетентности -->

<!--TODO: Магическое число 21-->
	{if $type_question eq 21} <!--вопрос с простой картинкой-->

		<img src="{$photo}/{$simplephoto}" alt="">

		<table style="width: 100%; background: #ffff99; min-height: 100px;">
		<tr>
		<td><div style="margin-top: 1%;" class="text_question"><span>№:{$sm_ID_question}   {$question['TEXT']}<span></div></td>
		</tr>
		</table>
		
		<table id="bottom" class="list-answers-table" cellspacing='0' cellpadding='0'>

			{$count = 1}
			{section name=i loop=$array_answers}
				<tr>
					<td><input class="quest_num" type="button" value={$count}></td>
					<td style="width:100%;"><input class="choice_button" type="button" onclick="textAnswer({$array_answers[i]['COMPETENCELEVELID']}, {$array_answers[i]['ID']}, {$k++})" value="{$array_answers[i]['TEXT']}"/></td>
				</tr>
				{capture}{$count++}{/capture}
			{/section}
		</table>
		
	{elseif $type_question eq 8} <!--текстовый вопрос-->
		
		<table style="width: 100%; background: #ffff99; margin-top: 16%; min-height: 100px;">
		<tr>
			<td><div style="margin-top: 1%;" class="text_question"><span>№:{$sm_ID_question}   {$question}<span></div></td>
		</tr>
		</table>

		<table id="bottom" class="list-answers-table" cellspacing='0' cellpadding='0'>

			{$count = 1}
			{section name=i loop=$array_answers}
				<tr>
					<td><input class="quest_num" type="button" value={$count}></td>
					<td style="width:100%;"><input class="choice_button" type="button" onclick="textAnswer({$array_answers[i]['COMPETENCELEVELID']}, {$array_answers[i]['ID']}, {$k++})" value="{$array_answers[i]['TEXT']}"/></td>
				</tr>
				{capture}{$count++}{/capture}
			{/section}
		</table>
		
	{else}
	{/if}
	
{/if}

</form>
</div>
<script src="{$tpl}js/script.js"></script>

{/block}